@import url('https://fonts.googleapis.com/css2?family=Allerta+Stencil&display=swap');

*{
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
}

::selection {
    background-color: #ffb7c5;
    color: #1d1d1d;
  }

body::-webkit-scrollbar {
    display: none;
  }

body{
    background-color: #1D1D1D;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

#progress {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    position: fixed;
    bottom: 25px;
    right: 25px;
    box-shadow: 0px 0px 10px #00000033;
    display: grid;
    place-items: center;
    z-index: 105;
  }
  
  #progress-value {
    display: block;
    height: calc(100% - 5px);
    width: calc(100% - 5px);
    background-color: #1c1f25;
    border-radius: 50%;
    display: flex;
    place-items: center;
    font-weight: 600;
    font-size: 0px;
  }  

.nav{
    width: 100%;
    height: 4rem;
    background-color: #1D1D1D80;
    position: fixed;
    z-index: 101;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navigation{
    display: flex;
    align-items: center;
}

.nav .navigation li{
    margin-left: 0.8rem;
    margin-right: 0.8rem;
}

.nav .navigation li a{
    color: #ffb7c5;
    font-size: 1.8rem;
    font-family: 'Allerta Stencil', sans-serif;
}
.nav .navigation li a img{
    width: 4rem;
    height: 4rem;
    margin-top: 1rem;
}

.nav .navigation li a:hover{
    font-size: 2rem;
    color: #00755D;
    transition: all ease 0.3s;
}
.box{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.input {
    padding: 10px;
    width: 3rem;
    height: 3rem;
    background: none;
    border: 4px solid #ffb7c5;
    border-radius: 50px;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-size: 26px;
    color: #ffb7c5;
    outline: none;
    transition: all ease 0.5s;
}

.box:hover input{
    width: 350px;
    background: #1d1d1d;
    border-radius: 10px;
}

.box i{
    position: absolute;
    top: 50%;
    left: 1.5rem;
    transform: translate(-50%,-50%);
    font-size: 1.5rem;
    color: #ffb7c5;
    transition: all ease 0.2s;
}

.box:hover i{
    opacity: 0;
    z-index: -1;
}

#displayPost{
    /* display: grid;
    grid-template-columns: repeat(3, 0.2fr); */
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8rem;
}

.card{
    width: auto;
    height: auto;
    background-color: transparent;
    color: #ffb7c5;
    border-radius: 2rem;
    font-size: 2rem;
    position: relative;
    margin-top: 8rem;
    box-shadow: #ffb7c580 5px 5px 25px 10px;
}

.card-img img{
    width: 20rem;
    height: 20rem;
    margin-left: 2.5rem;
    margin: 2rem;
    border-radius: 2rem;
    background-size: cover;
    object-fit: cover;
}

.card-title{
    width: 20rem;
    margin: 1rem;
    color: #ffb7c5;
}

.card-price{
    margin-left: 1rem;
}

.card-buy-btn button{
    width: 15rem;
    color: #ffb7c5;
    cursor: pointer;
    border: none;
    background: none;
    font-size: 2rem;
    border: 0.2rem solid #ffb7c5;
    border-radius: 0.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    margin: 2rem;
}

.card-buy-btn button:hover{
    background-color: #ffb7c5;
    color: #1D1D1D;
    border: 0.2rem solid #ffb7c5;
    transition: all ease 0.3s;
}

/** slider */
#main-slider {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px auto;
    margin-top: 0px;
    padding-top: 5rem;
    max-width: 1170px;
    width: 100%;
  }
  
  .main-slider-box {
    width: 100%;
    height: 450px;
    box-shadow: 2px 2px 10px #0000001a;
    border: 1px solid #0e0e0ec2;
    position: relative;
    overflow: hidden;
  }
  
  .main-slider-img {
    width: 100%;
    height: 100%;
  }
  
  .main-slider-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    user-select: none;
  }
  
  .main-slider-text {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    background: linear-gradient(360deg, #161616b9 35%, #4949493b 64%);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    padding: 25px;
  }
  
  .main-slider-text .quality,
  .more-about-movie .quality {
    background-color: #009c7c;
    color: #1d1d1d;
    font-weight: 600;
    padding: 0px 5px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    letter-spacing: 0.5px;
  }
  
  .main-slider-text .movie-name {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  
  .main-slider-text .movie-name span {
    font-size: 0.9rem;
    letter-spacing: 1px;
    font-weight: 400;
    color: #f0f0f0d1;
  }
  
  .main-slider-text .movie-name strong,
  .main-slider-text .movie-name a {
    font-size: 1rem;
    font-weight: 500;
    line-height: 20px;
    margin-top: 10px;
    color: #dfdfdf;
    letter-spacing: 0.5px;
  }
  
  .main-slider-text .category {
    color: #969696;
    font-size: 0.6rem;
    font-weight: 500;
  }
  
  .main-slider-text .category a {
    color: #009c7c;
    margin: 0px 3px;
  }
  
  .rating img {
    height: 10px;
    width: 20px;
    object-fit: contain;
    object-position: center;
  }
  
  .rating {
    font-size: 0.8rem;
    color: #ffffff;
    letter-spacing: 1px;
  }
  
  .main-slider-text .category-rating {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-top: 20px;
  }
  
  .main-slide-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 100%;
    left: 0px;
    background-color: #1b1b1b99;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #009c7c;
    transition: all ease 0.3s;
    z-index: 2;
  }
  
  .main-slide-overlay i {
    font-size: 2rem;
  }
  
  .main-slider-box:hover .main-slide-overlay {
    top: 0px;
    transition: all ease 0.3s;
  }
  
  .swiper-button-next,
  .swiper-button-prev {
    position: static !important;
    transform: translate(0, 0);
    margin: 10px 0px 0px 20px !important;
  }
  
  .slider-btns {
    display: flex;
    justify-content: flex-end;
    max-width: 1170px;
    width: 100%;
    margin: 10px auto 0px auto;
  }
  
  .swiper-button-next::after,
  .swiper-button-prev::after {
    font-size: 25px !important;
    font-weight: 800;
    color: #009c7c;
  }
  
  footer{
    margin: 10rem;
  }

  /*? post */

  .addPost{
    width: 40rem;
    height: 30rem;
    background-color: #00755e80;
    border-radius: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    margin-top: 10rem;
    margin-left: 40rem;
  }

  main .addPost button {
    width: 100%;
  }
  
  main .displayPosts {
    width: 100%;
    display: grid !important;
    place-items: center;
  }
  
  main .displayPosts article {
    width: 90%;
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
  }