@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto', sans-serif;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
}

::selection {
    background-color: #ffb7c5;
    color: #1d1d1d;
  }

body::-webkit-scrollbar {
    display: none;
  }

body{
    background-color: #1D1D1D;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

#progress {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    position: fixed;
    bottom: 25px;
    right: 25px;
    box-shadow: 0px 0px 10px #00000033;
    display: grid;
    place-items: center;
    z-index: 105;
  }
  
  #progress-value {
    display: block;
    height: calc(100% - 5px);
    width: calc(100% - 5px);
    background-color: #1c1f25;
    border-radius: 50%;
    display: flex;
    place-items: center;
    font-weight: 600;
    font-size: 0px;
  }  

.nav{
    width: 100%;
    height: 4rem;
    background-color: #1D1D1D80;
    position: fixed;
    z-index: 101;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navigation{
    display: flex;
    align-items: center;
}

.nav .navigation li{
    margin: 0.8rem;
}

.nav .navigation li a{
    color: #ffb7c5;
    font-size: 1.5rem;
    transition: all ease 0.3;
}
.nav .navigation li a img{
    width: 4rem;
    height: 4rem;
    margin-top: 1rem;
}

.nav .navigation li a:hover{
    font-size: 1.8rem;
    color: #00755D;
    transition: all ease 0.3s;
}
.box{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.input {
    padding: 10px;
    width: 3rem;
    height: 3rem;
    background: none;
    border: 4px solid #ffb7c5;
    border-radius: 50px;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-size: 26px;
    color: #ffb7c5;
    outline: none;
    transition: all ease 0.5s;
}

.box:hover input{
    width: 350px;
    background: #1d1d1d;
    border-radius: 10px;
}

.box i{
    position: absolute;
    top: 50%;
    left: 1.5rem;
    transform: translate(-50%,-50%);
    font-size: 1.5rem;
    color: #ffb7c5;
    transition: all ease 0.2s;
}

.box:hover i{
    opacity: 0;
    z-index: -1;
}

.center{
    /* display: grid;
    grid-template-columns: repeat(3, 0.2fr); */
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8rem;
}

.card{
    width: 20rem;
    height: 30rem;
    background-color: transparent;
    color: #ffb7c5;
    border-radius: 2rem;
    font-size: 1.2rem;
    position: relative;
    margin-top: 8rem;
    box-shadow: #ffb7c580 5px 5px 25px 10px;
}

.card-img img{
    width: 15rem;
    height: 15rem;
    margin-left: 2.5rem;
    margin-top: 2rem;
    border-radius: 2rem;
    background-size: cover;
}

.card-title{
    width: 80%;
    margin: 1rem;
}

.card-price{
    margin-left: 1rem;
}

.card-buy-btn button{
    width: 15rem;
    color: #ffb7c5;
    cursor: pointer;
    border: none;
    background: none;
    font-size: 2rem;
    border: 0.2rem solid #ffb7c5;
    border-radius: 0.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    margin-top: 0.5rem;
    margin-left: 2.5rem;
}

.card-buy-btn button:hover{
    background-color: #ffb7c5;
    color: #1D1D1D;
    border: 0.2rem solid #ffb7c5;
    transition: all ease 0.3s;
}